/*
@darkblue: #1f2129;
@lightblue: #56a099;
*/



.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-color: #1f2129 !important;
    font-family: work-sans, sans-serif !important;
    font-weight: 400;
    font-style: normal;
    color: white !important;

    background-image: url(/images/CV-Background.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

a.navbar-brand {
    color: #56a099;
}

a.navbar-brand:hover {
    color: #56a099;
}

a.nav-link {
    color: white;
    margin-left: 60px;
}

a.nav-link:hover {
    color: #56a099;
}

img {
    width: 400px;
}

div .col {
    padding: 60px 0px;
}

footer.card{
    background-color:#56a099 !important;
    color: #1f2129 !important;
}

img.big{
    width: 100%;
    height: 100%;
}